.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: right;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar-is-stuck+.content {
    padding-top: 60px;
}

#navbar {
   
    background-color: white;
    border-radius: 0px;
    border-color: white
}