.navbar-toggle {
    border-color: #ddd
}
.navbar-toggle:focus, .navbar-toggle:hover {
    background-color: #ddd
}
.navbar-toggle .icon-bar {
    background-color: #888
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: right;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar-is-stuck+.content {
    padding-top: 50px;
}

#navbar {
    background-color: white;
    border-radius: 0px;
    border-bottom: 2px solid #29b6f6;
}

ul.nav>li:hover {
    box-shadow: 0px 0px 10px #e1f5fe;
}
.glow:hover{
    box-shadow: 0px 0px 10px #adf7ff;
    
}
.glow:focus{
    box-shadow: 0px 0px 10px #adf7ff;
    
}
.glow.mybtn{
    background-color: #29b6f6;
    color: white;
    font-weight: bold;
}
.flat{
    border-radius: 0px;
}
.activated>a {
    background-color: #29b6f6;
    font-weight: bold;
    color: white;
}

.activated>a:hover {
    background-color: #03a9f4;
    box-shadow: 0px 0px 10px #03a9f4;
}

.myHeader {
    box-shadow: 0px 3px 8px grey;
    z-index: 999999;
    
}

.material {
    color: #00acc1;
    background-color: #e0f7fa;
    box-shadow: 0px 3px 8px grey;
}

.navbar-default1 .navbar-toggle {
    border-color: #ddd
}

.navbar-default1 .navbar-toggle:focus,
.navbar-default1 .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default1 .navbar-toggle .icon-bar {
    background-color: #888
}

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.footer-bottom {
    background-color: #01579b;
    min-height: 30px;
    width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/

footer {
    background-color: #0277bd;
    height: 300px;
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}

.footerHeader {
    width: 100%;
    padding: 1em;
    background-color: #0288d1;
    text-align: center;
    color: white;
}

footer h3 {
    font-weight: lighter;
}

footer ul {
    padding-left: 5px;
    list-style: none;
}

footer p {
    text-align: justify;
    font-size: 12px;
}

footer iframe {
    width: 100%;
    position: relative;
    height: 170px;
}

.sm {
    list-style: none;
    overflow: auto;
}

.sm li {
    display: inline;
    padding: 5px;
    float: left;
}

.sm li a img {
    width: 32px;
}

.footer1 {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    /*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    font-family: 'Gudea', sans-serif;
}

#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}



/************************************************************
*************************choose us******************************
*************************************************************/

.services-section {
    background: none;
    padding: 4em 0;
}

.site-title h3 {
    color: #29b6f6;
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 800;
    padding:5px;
}
.site-title p {
    color: #999999;
    font-size: .9em;
    margin: 0;
}
.services-column h5 {
    color: #000000;
    font-size: 1.5em;
    margin: .5em 0;
    font-weight: 600;
}
.services-column p {
    color: #212121;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.icon {
    color:rgb(130, 220, 253);
    padding:15px;
    font-size:40px;
}
/************************************************************
*************************choose us******************************
*************************************************************/





/*//////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////slide css //////////////////////////////
/////////////////////////////////////////////////////*/

h3 {
    font-size: 24px;
    font-size: 24px;
    font-size: 2.4rem;
}
.nopaddingleft {
    padding-left: 0;
}
.nopaddingright {
    padding-right: 0;
}
.overflownone {
    overflow: hidden!important;
}
.information {
    background: #0277bd;
    position: relative;
    height: 60%;
}  /*  for details  */
.information h3 {
    font-size: 34px;
    font-size: 3.4rem;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #FFF;
    padding: 0 15px;
}
.information .information_menu {
    padding: 0;
}
.information .information_menu li {
    list-style: none;
    position: relative;
}
.information .information_menu li.active {
    background: #0383c5;
}
.information .information_menu li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 22px solid #0383c5;
    position: absolute;
    right: -22px;
    z-index: 1000;
    top: 0;
}
.information .information_menu li a {
    color: #FFF;
    display: block;
    padding: 16px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}
.information .btn-emergency {
    background: #069ff8;
    border: none;
    
    display: block;
    width: 88%;
    color: #fff;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
    font-size: 2rem;
}
.information .btn-emergency span {
    padding: 15px;
    display: block;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, .15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.75, rgba(255, 255, 255, .15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear, 135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}
.mobile-menu-bg {
    background: #0277bd;
}
.information_menu_mobile {
    margin: 0px;
    padding: 0;
}
.information_menu_mobile li {
    padding: 0;
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
}
.information_menu_mobile li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}
.information_menu_mobile li:hover a {
    background: #0383c5;
    text-decoration: none;
}
.slideshow {
    overflow: hidden;
}
.slideshow .overlay-item  {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 360px;
    background: #73c9fc3f;
    display: none;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.active {
    display: block;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.inactive {
  display: block;
  -webkit-animation: closedoor 0.75s ease 0s alternate;
  transform-style: preserve-3d;
  opacity:0;
}
.slideshow .overlay-item .quickmenu  {
    padding: 0;
}
.slideshow .overlay-item .quickmenu li {
    list-style: none;
}
.slideshow .overlay-item .quickmenu li a {
    color: #FFF;
    display: block;
    padding: 8px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}
#slider {
    padding: 0px;
    margin: 0px
}
#slider li {
    padding: 0px;
    list-style: none;
    position: absolute;
}
#carousel-example-generic {
    height: 60%;  
}   /*  this is for slide */
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
html,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.item:nth-child(1) {
    background: url("../images/slide2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
.item:nth-child(2) {
    background: url("../images/slide3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
.item:nth-child(3) {
    background: url("../images/slide4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
.item:nth-child(4) {
    background: url("../images/slide5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
.item:nth-child(5) {
    background: url("../images/slide6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
.item:nth-child(6) {
    background: url("../images/stats.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}
@-webkit-keyframes in {
    from {
        -webkit-transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes out {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.3);
    }
}
@-webkit-keyframes opendoor {
    from {
        -webkit-transform: perspective(1000px) rotateY(90deg);
        -webkit-transform-origin: 0% 50%;
    }
    to {
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
    }
}
@-webkit-keyframes closedoor {
    from {information
        opacity:1;
         -webkit-transform-origin: 0% 50%;
    }
    to {
        opacity:0;
        -webkit-transform-origin: 0% 50%;
    }
}

.carousel-caption{
    text-shadow: 0px 0px 5px black;
}

/*//////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////slide css //////////////////////////////
/////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////
///////////////////porfolio/////////////////////////////////
////////////////////////////////////////////////////////*/


.w3l_header{
	font-size: 1.5em;
    color: #212121;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
}
.w3l_header span{
	color:#00ba66;
}
.w3l_header:after{
	content: '';
    background: #212121;
    height: 2px;
    width: 13%;
    left: 14%;
    position: absolute;
    top: 49%;
}
.w3_agileits_header1:after{
	left:20% !important;
}

.banner-bottom,.testimonials,.services,.service-bottom,.stats-bottom{
	padding:5em 0;
}
.agileits_banner_bottom_grids,.w3layouts_work_grids,.wthree_testimonial_grids,.wthree_services_grids,.w3layouts_mail_grid{
	margin:3em 0 0;
}

input[type="submit"],input[type="reset"],a,.agileinfo_services_grid1_pos,.agileinfo_services_grid1 h4,.simplefilter li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
ul.simplefilter {
    text-align: center;
    margin-bottom: 2em;
}

.simplefilter li {
	color: black;
	border-bottom: 3px solid #29b6f6;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 25px; 
	padding: 0.8em 2em;
	margin: 0 0.3em;
    background-color: #f9feff;
}
.simplefilter li.active,.simplefilter li:hover {
    background-color: #29b6f6;
	border-bottom: 3px solid grey
}
.agileits_banner_bottom_grids,.w3layouts_work_grids,.wthree_testimonial_grids,.wthree_services_grids,.w3layouts_mail_grid{
	margin:3em 0 0;
}
.filtr-item {
    padding: 1em;
}
.wthree_services_grids{
	margin:0 0 0;
}
.img-responsive{
	border-bottom:3px solid #29b6f6;
	border-radius: 10px;
}
.w3-display-right{position:absolute;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);font-size: 1.5em;}

/*///////////////////////////////////////////
/////////portfolio//////////////////////////
/////////////////////////////////////////*/